.mainpage{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px)
{
  .mainpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .youtube_p{
    width:fit-content;
    height: fit-content;
  }
}


.buttonforaccept{
  color:rgb(22, 5, 5);
}
.youtube_s{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading_NAV{
  font-family: 'Courgette', cursive;
  font-size: 20px;
}

.textC{
  color:black;
  font-size: 40px;
}
.form_E input{
   background-color: rgb(48, 192, 248);
}
.form_E{
  color:rgb(93, 113, 131);
  display: flex;
  flex-direction: column;
}
.form_E label{
  color:black;
  font-size: x-large;
  font-weight: bold;
}
.textArea{
  width:400px;
  height:400px;
}
.input_S{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}
.form_E .submit_B{
  width:100px;
  height: 50px;;
}
.textC{
  color:black;
}
TabPanel p{
  color:black;

}